$color-white: #fff;
$color-isabelline: #ececec;
$color-light-gray: #d1d1d1;
$color-smoky-black: #0c0910;
$color-granite-gray: #646266;
$color-quick-silver: #a6a5a8;

$font-base: "Old Standard TT", serif;
$font-base2: "Raleway", sans-serif;

$font-xxxl: 50px;
$font-xxl: 30px;
$font-xl: 20px;
$font-l: 18px;
$font-m: 16px;
$font-s: 14px;
$font-xs: 12px;
