.button {
  border: 1px solid $color-smoky-black;
  background-color: $color-white;
  font-family: $font-base2;
  font-weight: bold;
  padding: 0.25rem 1rem;

  &:hover {
    border: 1px solid $color-isabelline;
  }

  &:focus {
    border: 1px solid $color-isabelline;
    color: $color-isabelline;
  }
}
