.description {
  padding: 2rem;
  h1 {
    font-family: $font-base;
    font-size: $font-xxxl;
  }

  p {
    font-family: $font-base2;
    font-size: $font-m;
    font-weight: 300;
  }
}

@media screen and (max-width: 500px) {
  .description {
    padding: 2rem;
    h1 {
      font-size: $font-xxl;
    }

    p {
      font-size: $font-s;
    }
  }
}
