.hero {
  height: calc(100vh - 60px);
  background-image: url(/assets/img/imagen1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 500px) {
  .hero {
    height: calc(45vh - 60px);
    background-position: top;
    background-size: cover;
  }
}
